@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, "sans-serif";
    font-size: 1em;
    background: #e6deb9;
	background-image: url("../img/working-with-code.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fejlec-kep {
   
}

aside {
    float: left;
    width: 30%;
    padding-top: 20px;
    margin-top: 15px;
    background-color: rgb(119, 166, 210);
    position: absolute;
    top: 40%;
}

nav{
   padding: 30px 0;
   position: relative;
    top: 40%;
}

nav ul {
    list-style-type: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    padding: 18px 14px;
    color: #000;
    text-align: center;
}

nav ul li a:hover{
    background-color: #00008b;
    color: antiquewhite;
}

.tarolo {
    width: 90%;
    margin: 0 auto;
}

.focim {
    position: absolute;
    top: 50%;

    left: 50%;
    transform:  translate(-50%,50%);
}