*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #8df3f3;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header,
footer {
    background-color: rgb(21, 247, 247);
    padding: 20px;
}

p{
    margin: 10px 0;
    padding-left: 3px;
}

h2{
    padding: 3px;
}

nav{
    width: 25%;
}

nav ul {
    list-style-type: none;
}

nav li {
    background-color: rgb(72, 71, 70);
 padding: 8px;
}

nav li:hover {
    background-color: rgb(212, 193, 165);
}

nav li a {
    text-decoration: none;
    color: white;
    display: block;
}

.main-content {
    width: 75%;
}

.column {
    float: left;
    padding: 10px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}




