*{
    margin: 0;
    padding: 0;
}

body{
    background-color:  #AAFFAA;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#main{
    width: 50%;
    margin: auto;
    border: 1px solid brown;
}

header nav ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(127,170,255);
}

header nav ul li{
    float: left;  
}

header nav ul li a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #fff;
    font-size: 1.8rem;
}

header nav ul li a:hover {
    color:#000;
}



#tartalom{
    background-color: #fff;
    color: #333;
   padding: 10px 0 10px 20px;
}

.card{
    width: 22%;
    padding: 1%;
    float: left;
}

.card img {
   width: 200px;
}

.card h2, .card img{
    font-size: 1.5rem;
    padding: 15px 10px;
}

.card p{
    padding: 15px;
    font-size: 1.2rem;
}

.card::after{
    content: "";
    clear: both;
    display: table;
}

#tartalom::after{
    content: "";
    clear: both;
    display: table;
}

div#main::after{
    content: "";
    clear: both;
    display: table;
}

footer{
    background-color: lightgray;
    padding: 15px;
}

footer p{
    text-align: center;
}

@media screen and (max-width:1800px) {
    .card{
        width: 15%;
    }
    
    .card img {
       width: 120px;
    }

    .card p{
        font-size: 1rem;
    }
}

@media screen and (max-width:1600px) {
    .card{
        width: 100%;

    }
    
    .card img {
       width: 100%;
    }

    .card p{
        font-size: 1.6rem;
    }

    .card h2{
        font-size: 2rem;
    }
}