body{
    margin: 0;
    padding: 0;
    background-color: azure;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: bisque;
    height: 40px;
    padding-bottom: 10px;
}

nav{
    overflow: hidden;
    margin-left: 100px;
    width: 100%;
}

nav ul li{
    display: inline-block;
    padding: 0px 20px;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
}

article, #osztdiv{
    padding-bottom: 15px;
}

 #osztdiv{
    height:100%;
    padding-bottom: 100px;
}


h1{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 900;
    font-variant: small-caps;
    padding-top: 30px;
    padding-bottom: 20px;
}

h1, h2, h3{
    text-align: center;
}

h2,h3{
    padding-bottom: 15px;;
}

article p{
    font-size: 20px;
    width: 85%;
    text-align: justify;
    margin: auto;
    padding-bottom: 10px;
}

#osztalyozas{
    float: left;
    margin-left: 70px;
    padding-right: 20px;

     width: 70%;
    padding-left: 50px;
    margin-right: 10px;
}

#haziasitas p{
    padding-top: 250px;
}

#vadmacska, #asitomacska, #betegmacska, #istenno{
    width: 200px;
    /*float: right;*/
}

#asitomacska, #istenno{
    float: left;
    margin-left: 0px;
    margin-right: 20px;
}

#asitomacska{
    padding-left: 150px;
}

 #istenno{
    float: left;
   padding-left: 150px;
    padding-right: 10px;
}

#img-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

.galeryImg {
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: burlywood;
}

.galeryImg:hover{
    transform: scale(1.1);
    cursor: zoom-in;
}

#img-popUp{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0,8);
}

#closeButton {
    position: absolute;
    top: 20px;
    right: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 60px;
}

#closeButton:hover {
    color: #b20505;
}

#popupImg {
    display: block;
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}
span a {
    color: cadetblue;
    text-decoration: none;
}

p span a:hover,  nav ul li a:hover {
    background-color: cadetblue;
    color: antiquewhite;

}

footer{
    height: 40px;
    background-color: beige;
    text-align: center;
    padding-top: 15px;
}



@media screen and (max-width: 1200px) {
   

    article p{
        color: rgb(77, 22, 228);
        font-size: 18px;
        width: 85%;
        margin: auto;
    }
    #vadmacska, #asitomacska, #betegmacska, #istenno{
      width: 40%;  
  }

    #istenno{
        clear: both;
        padding-left: 0;
        padding-right: 0;
    }
    #asitomacska{
        padding-left: 0;
    }


    #osztalyozas{
        clear: both;
        padding-top: 50px;
        width: 85%;
        margin-left: 10px;
        padding-right: 20px;
        padding-left: 30px;
        margin-right: 0;
    }

    #osztdiv{
        height:100vh;
      
    }

    article pre{
        display: none;
    }

}

@media screen and (max-width: 600px) {
    header{
        height: 60px;
        padding-bottom: 10px;
    }

    nav{
        width: 100%;
        margin: auto;

    }

    nav ul li{
        display: block;
        padding: 0px 0px;
       
    }

    nav ul li a {
        width: 100vw;
    }

    article p{
        color: darkgray;
        font-size: 18px;
        width: 100%;
        margin: 20px;
    }
    #vadmacska, #asitomacska, #betegmacska, #istenno{
      width: 100%;  
  }

    #istenno{
        clear: both;
        padding-left: 0;
        padding-right: 0;
    }
    #asitomacska{
        padding-left: 0;
    }


    #osztalyozas{
        clear: both;
        padding-top: 50px;
        width: 85%;
        margin-left: 10px;
        padding-right: 20px;
        padding-left: 30px;
        margin-right: 0;
    }

    #osztdiv{
        height:100vh;
      
    }

    article pre{
        display: none;
    }

}

