*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

#tarolo{
    width: 80%;
    margin: 0 auto;
   
}

#fejlec {
    background-image: url("../img/header-image-2.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fejlec-felirat {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    position: absolute;
    top: 280px;
    left: 900px ;
}

nav{
    float: right;
    width: 25%;
    background-color: rgb(3, 255, 5);
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 16px 12px;
    font-size: 1.2rem;
    text-align: center;
    color: #ddd;
}

nav ul li a:hover {
    background-color: #000;
}

#fo-resz {
    width: 75%;
    color: #444;
    background-color: #fff;
}

#fo-resz::after {
    content: "";
    clear: both;
    display: table;
}

.card {
    float: left;
    padding: 0 75px;
    margin: 10px 20px;
}

.card h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 40px;
    padding-bottom: 10px;
}

#balatonfured {
    padding-top: 80px;
}

.card img {
 display: block;
 margin: 20px auto;
 padding: 15px;
 }

 .card p{
     padding: 25px 40px;
     font-size: 1.2rem;
 }

 .card:last-child {
    padding-bottom: 100px;
 }

footer{
    background-color: rgba(147, 145, 145, 0.335);
    padding: 15px;
}

footer p{
    text-align: center;
}




